//
//  Config.xcconfig
//  shiptrack
//
//  Created by Nick DeRose on 12/12/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


LocalBaseDomain = localhost:3000
//ProductionBaseDomain = cloudship-strapi-6orma.ondigitalocean.app
ProductionBaseDomain = cloudship-xi.vercel.app
